<div class="modal-header">
            <h3 class="modal-title" id="modal-title">Create Todos</h3>
</div>
<div class="modal-body" id="modal-body">
  <form name=myForm>
    <div class="form-group">
      <label for="text">Todo :</label>
      <input type="text" name=title class="form-control" id="text" ng-model="post.title" placeholder="Create Your Todo" required>
    </div>
  </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-if="!showEdit" ng-click="blogPost(post)"  ng-disabled="myForm.title.$invalid" >save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
